# Byte-compiled / cache
*.py[cod]
*$py.class
__pycache__/
*/__pycache__/
**__pycache__/

# Virtual environments
.env
.venv/
venv/
ENV/
env/

# Database local
*.sqlite3

# Uploads locais de mídia (comprovantes e NFs)
media/
media/*

# Arquivos estáticos coletados
staticfiles/

# Editores & IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini